
img{
    text-align: center;
}
@media (max-width:767px){
    .project1{
        height: 275px;

    }
    .project2{
        height: 190px;
    }
    .project3{
        height: 190px;
    }
    .project4{
        height: 190px;
    }
    .project5{
        height: 250px;
    }
    .project6{
        height: 210px;
    }
}